.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  &__leftbar {
    border-right: 1px solid var(--light-grey-color);
    display: flex;
    flex-direction: column;
    max-width: 247px;
    padding: 54px 18px 40px 0;
    width: 100%;
  }

  &__children {
    width: 100%;
  }

  &__rightbar {
    border-left: 1px solid var(--light-grey-color);
    display: flex;
    flex-direction: column;
    max-width: 332px;
    padding: 58px 40px 30px 32px;
    width: 100%;
  }
}

.leftbar {
  &__logoBlock {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 38px;

    &_logo {
      height: 32px;
      width: 32px;
    }

    &_title {
      background: -webkit-linear-gradient(
        var(--blue-color),
        var(--light-blue-color)
      );
      background-clip: text;
      font: var(--font-text-1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.rightbar {
  &__dateBlock {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: 46px;

    &_calendar {
      cursor: pointer;
      height: 24px;
      width: 24px;
    }

    &_date {
      color: var(--blue-color);
      font: var(--font-text-5);
    }

    &_chevron {
      cursor: pointer;
      height: 7px;
      width: 14px;
    }
  }

  &__bottleBlock {
    background-image: url('../../assets/images/bottle-bg.png');
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 214px;
    margin-top: 137px;
    max-width: 260px;
    padding: 0 20px 20px 48px;
    position: relative;
    width: 100%;

    &_bottle {
      height: 292px;
      margin-top: -100px;
      max-width: 75px;
      width: 100%;
    }

    &_title {
      color: var(--white-color);
      font: var(--font-text-6);
      margin-top: 53px;
      max-width: 93px;
      width: 100%;
    }
  }

  &__goalBlock {
    align-items: flex-start;
    background-image: url('../../assets/images/goal-bg.png');
    display: flex;
    flex-direction: column;
    height: 133px;
    justify-content: center;
    margin-top: 32px;
    padding-left: 24px;
    position: relative;
    width: 260px;

    &_title {
      color: var(--white-color);
      font: var(--font-text-6);
    }

    &_subtitle {
      color: var(--white-color);
      font: var(--font-text-6);
      font-weight: 600;
    }

    &_drop {
      height: 36px;
      right: 13%;
      position: absolute;
      top: 38%;
      transform: translate(-50%, -50%);
      width: 36px;
    }

    &_firstBottomLine {
      bottom: 0;
      right: 0;
      position: absolute;
    }

    &_secondBottomLine {
      bottom: 5%;
      right: 0;
      position: absolute;
    }

    &_firstTopLine {
      left: 0;
      position: absolute;
      top: 0;
    }

    &_secondTopLine {
      left: 0;
      position: absolute;
      top: 1%;
    }
  }

  &__drinkLogBlock {
    align-items: center;
    background-color: var(--light-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 326px;
    margin-top: 32px;
    padding: 24px 24px 15px 24px;
    position: relative;
    max-width: 260px;
    width: 100%;

    &_titleBlock {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &_logsBlock {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &_chevron {
      cursor: pointer;
      height: 7px;
      width: 14px;
    }
  }
}

.titleBlock {
  &__title {
    color: var(--blue-color);
    font: var(--font-text-5);
  }

  &__group {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-right: 10px;
  }
}
