.card {
  align-items: center;
  background-color: var(--white-color);
  border-radius: 12px;
  box-shadow: 30px 30.24px 20px 0px var(--transparent-color);
  display: flex;
  flex-direction: row;
  gap: 60px;
  height: 40px;
  max-width: 212px;
  padding: 16px;
  width: 100%;

  &__volumeBlock {
    display: flex;
    flex-direction: row;
    gap: 9px;

    &_drop {
      height: 12px;
      width: 10px;
    }

    &_volume {
      color: var(--light-blue-color);
      font: var(--font-text-4);
    }
  }

  &__time {
    color: var(--blue-grey-color);
    font: var(--font-text-4);
  }
}
