.user {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 470px 0 0 24px;
  position: relative;

  &__avatar {
    cursor: pointer;
    height: 36px;
    width: 36px;
  }

  &__nameBlock {
    display: flex;
    flex-direction: column;

    &_name {
      color: var(--dark-grey-color);
      font: var(--font-text-3);
    }

    &_email {
      color: var(--dark-grey-color);
      font: var(--font-text-4);
    }
  }

  &__group {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 2px;
    right: 0;
    position: absolute;
    top: 8px;
  }
}
