@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --light-grey-color: #efecec;
  --whisper-color: #e7e7e7;
  --white-color: #ffffff;
  --white-smoke-color: #f2eeee;
  --light-color: #f7f9fd;
  --dark-grey-color: #494949;
  --grey-color: #838383;
  --griffin-color: #8e8f8f;
  --light-green-color: #edffef;
  --green-color: #55a55e;
  --light-purple-color: #f4f2ff;
  --purple-color: #5e5498;
  --light-mauve-color: #fff2ec;
  --mauve-color: #9b715d;
  --bright-blue-color: #3546b1;
  --light-blue-color: #b0b4ec;
  --blue-grey-color: #7b81a6;
  --blue-color: #3629b7;
  --pink-color: #fbb8ff;
  --red-color: #ff4267;
  --dark-color: #11263c;
  --black-color: #000000;
  --dark-shadow-color: rgba(0, 0, 0, 0.5);
  --transparent-color: rgba(0, 0, 0, 0.02);

  --font-family-poppins: 'Poppins', normal;
  --font-family-bebas: 'Bebas Neue', normal;

  --font-h1: 600 64px var(--font-family-bebas);
  --font-h2: 600 24px var(--font-family-poppins);

  --font-text-1: 400 24px var(--font-family-bebas);
  --font-text-2: 400 14px var(--font-family-poppins);
  --font-text-3: 400 16px var(--font-family-poppins);
  --font-text-4: 400 12px var(--font-family-poppins);
  --font-text-5: 400 18px var(--font-family-poppins);
  --font-text-6: 400 20px var(--font-family-poppins);
  --font-text-7: 400 32px var(--font-family-poppins);
  --font-text-8: 400 13px var(--font-family-poppins);
}
