@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --blue-color: #3629b7;
  --grey-color: #838383;
  --light-blue-color: #b0b4ec;
  --dark-grey-color: #494949;
  --light-grey-color: #efecec;
  --dark-shadow-color: rgba(0, 0, 0, 0.5);

  --font-family-poppins: 'Poppins', normal;
  --font-family-bebas: 'Bebas Neue', normal;

  --font-h1: 600 64px var(--font-family-bebas);

  --font-text-1: 400 24px var(--font-family-bebas);
  --font-text-2: 400 14px var(--font-family-poppins);
  --font-text-3: 400 16px var(--font-family-poppins);
  --font-text-4: 400 12px var(--font-family-poppins);
}
